<!DOCTYPE html> 
<html lang="en"> 
	<head> 
    	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    	<title>Bill Budget</title> 
	</head> 
	<link href='http://fonts.googleapis.com/css?family=News+Cycle' rel='stylesheet' type='text/css'>
	<link href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.css" media="all" rel="stylesheet" type="text/css">
	<link href="/assets/css/app.css" media="all" rel="stylesheet" type="text/css"> 
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/assets/js/app.js"></script>
<body>

<div id="container">
	
	<div id="header">
		<a href="/bill/new" class="btn">+ New Bill</a>
		
		<h1>Bill Budget</h1>

	</div>

	<%- body %>
</div>
